include COPYING
include README.md
include RELEASE-VERSION
include version.py
include pavement.py
include paver-minilib.zip
include setup.py
include SConstruct
recursive-include multispeq1 *
recursive-exclude multispeq1 *.pyc
recursive-exclude multispeq1 *.o
recursive-exclude multispeq1 *.exe
recursive-exclude multispeq1 .ipynb_checkpoints/*
